body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#principal {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

#opcionesCiudad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 20px;
    text-align: center;
}

#buttonCalcular {
    background-color: #5e6063;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    width: 100%;
}

#buttonCalcular:hover {
    background-color: #243d5f;
    transform: scaleX(0.80);
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Estilo para la pantalla emergente */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#tablaClima {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tablaClima th {
    background-color: #333;
    color: white;
    padding: 10px;
}

#tablaClima td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}


.popup-button {
    background-color: #5e6063;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 10px;
}

.popup-button:hover {
    background-color: #243d5f;
    transform: scaleX(0.95);
}